.trans-btn {
  border: none;
  background: none;
}

#chat-user {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #27241f;
  height: 75px;
}

.menu-btn-wrapper{
  margin-left: 50px;
  margin-right: 25px;
  width: 10%;
}

.chat-room-header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
}

.chat-room-title {
  width: 90%;
}

.chat-room-title h2 {
  margin: 15px 4rem;
}

.chat-room-messages {
  position: relative;
  top: 15vh;
  width: 100%;
  height: auto;
}

#messages-container {
  margin-bottom: 75px;
}

.chat-bubble {
  display: block;
  margin: 0px 20px;
  max-width: 60%;
  min-width: 20%;
}

.side-nav-branding {
  display: flex;
  align-items: center;
  height: 75px;
}

.side-nav-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #2041526b;
}